<div class="show">
	<h1>投稿詳細</h1>

	<p>@post.content</p>

	<% @post_tags.each do |tag| %>
		<span>
			<% link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
			<p>(list.posts.count)</p>
		</span>
	<% end %>

	<%= link_to 'ホーム', root_path %>

</div>